body {
    background-color: whitesmoke;
}

.stickyBtn {

    position: sticky;
    font-size: x-small;
    background-color: indigo;
    color: ivory;
    top: 50%;
    left: 0px;
    padding: 10px;
    width: fit-content;
}

.noPadding {
    padding-left: 0px;
    padding-right: 0px;
}

.hello-world {
    background-color: gray;
    color: white;
    border: 2px solid red;
    padding: 20px;
}

.hello-world h2 {
    font-style: italic;
    text-decoration: underline;
}

.goodbye {
    padding: 20px;
    border: 5px dotted darkslategrey;
}


.catagory {
    padding: 20px;
    border: 2px solid gray;
    border-radius: 15px;
}

.catagory h3 {
    max-width: fit-content;
    margin: auto;
    text-align: justify;
}

.catagory ul {
    list-style: none;
    font-weight: bold;
    padding: auto;
}

.catagory ul li::before {
    content: ">";
}

.heading-content {
    padding: 20px;
    border: 2px solid gray;
}


.left-heading {
    padding: 20px;
    text-align: justify;

}

.right-heading {
    padding: 20px;
    background-color: indigo;
    color: ivory;
    text-align: justify;
}


.background-pic {
    background-image: url('watercolor-background_87374-69.jpg');
    width: 100%;
    height: 500px;
    position: relative;
}

.overlay-content h2 {
    position: absolute;
    top: 100px;
    left: 50px;
}

.overlay-content h3 {
    position: absolute;
    bottom: 100px;
    right: 50px;
}


.list-item {
    list-style: square;
}

.list-item li:first-child {
    background-color: indianred;
}

.list-item li:nth-child(even) {
    background-color: indigo;
}


.list-item li:nth-child(5) {
    background-color: royalblue;
}